{% liquid 
  assign active_brand = 'glassware'

  if request.path contains '/pages/prima'
    assign active_brand = 'prima'
  endif
%}

{% unless request.path contains '/pages/prima' %}
<nav class="bottom-nav" id="mobileBottomNav">
  <a href="/" class="nav-item">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.33333 6.51827V10.8C3.33333 11.9201 3.33333 12.4802 3.55132 12.908C3.74307 13.2843 4.04903 13.5902 4.42535 13.782C4.85317 14 5.41323 14 6.53333 14H9.46667C10.5868 14 11.1468 14 11.5747 13.782C11.951 13.5902 12.2569 13.2843 12.4487 12.908C12.6667 12.4802 12.6667 11.9201 12.6667 10.8V3.33331M14 7.99996L10.3779 3.97595C9.55407 3.06077 9.1422 2.60319 8.65707 2.43425C8.23107 2.28588 7.76733 2.28591 7.34127 2.43435C6.8562 2.60335 6.44441 3.06101 5.62076 3.97631L2 7.99996M9.33333 14V9.99996H6.66667V14" stroke="white" stroke-width="1.06667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div>Home</div>

  </a>
  <div style="width:1.5px;height:20px;background:#D1D1D1"></div>
  <a href="/collections/all" class="nav-item">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73858 3.00209C4.3133 3.00209 3.71654 3.10356 3.3099 3.18548C3.26203 3.19511 3.22352 3.23274 3.2151 3.28661C3.13375 3.80761 3.01206 4.69828 3.01206 5.33153C3.01206 5.96479 3.13375 6.85547 3.2151 7.37644C3.22352 7.43034 3.26203 7.46793 3.3099 7.47759C3.71654 7.55948 4.3133 7.66099 4.73858 7.66099C5.16386 7.66099 5.76063 7.55948 6.16727 7.47759C6.21513 7.46793 6.25365 7.43034 6.26207 7.37644C6.34342 6.85547 6.46512 5.96479 6.46512 5.33153C6.46512 4.69828 6.34342 3.80761 6.26207 3.28661C6.25365 3.23274 6.21513 3.19511 6.16727 3.18548C5.76063 3.10356 5.16386 3.00209 4.73858 3.00209ZM3.12202 2.27243C3.53022 2.1902 4.20931 2.07031 4.73858 2.07031C5.26786 2.07031 5.94694 2.1902 6.35515 2.27243C6.79535 2.3611 7.12514 2.71118 7.19274 3.14434C7.27398 3.66431 7.40686 4.61889 7.40686 5.33153C7.40686 6.04418 7.27398 6.99873 7.19274 7.51875C7.12514 7.95189 6.79535 8.30197 6.35515 8.39062C5.94694 8.47286 5.26786 8.59275 4.73858 8.59275C4.20931 8.59275 3.53022 8.47286 3.12202 8.39062C2.68182 8.30197 2.35204 7.95189 2.2844 7.51875C2.2032 6.99873 2.07031 6.04418 2.07031 5.33153C2.07031 4.61889 2.2032 3.66431 2.2844 3.14434C2.35204 2.71118 2.68182 2.3611 3.12202 2.27243Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2613 12.9977C10.836 12.9977 10.2392 12.8962 9.83258 12.8143C9.78473 12.8046 9.74624 12.767 9.73782 12.7131C9.65647 12.1921 9.53474 11.3015 9.53474 10.6682C9.53474 10.0349 9.65647 9.14426 9.73782 8.6233C9.74624 8.5694 9.78473 8.53181 9.83258 8.52214C10.2392 8.44026 10.836 8.33874 11.2613 8.33874C11.6866 8.33874 12.2834 8.44026 12.69 8.52214C12.7379 8.53181 12.7763 8.5694 12.7848 8.6233C12.8661 9.14426 12.9878 10.0349 12.9878 10.6682C12.9878 11.3015 12.8661 12.1921 12.7848 12.7131C12.7763 12.767 12.7379 12.8046 12.69 12.8143C12.2834 12.8962 11.6866 12.9977 11.2613 12.9977ZM9.64473 13.7273C10.0529 13.8095 10.732 13.9294 11.2613 13.9294C11.7906 13.9294 12.4697 13.8095 12.8778 13.7273C13.3181 13.6386 13.6479 13.2886 13.7154 12.8554C13.7967 12.3354 13.9296 11.3809 13.9296 10.6682C13.9296 9.95554 13.7967 9.00101 13.7154 8.48099C13.6479 8.04784 13.3181 7.69776 12.8778 7.60912C12.4697 7.52688 11.7906 7.40698 11.2613 7.40698C10.732 7.40698 10.0529 7.52688 9.64473 7.60912C9.20453 7.69776 8.87473 8.04784 8.80713 8.48099C8.7259 9.00101 8.59302 9.95554 8.59302 10.6682C8.59302 11.3809 8.7259 12.3354 8.80713 12.8554C8.87473 13.2886 9.20453 13.6386 9.64473 13.7273Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73858 10.7369C4.28728 10.7369 3.64899 10.8443 3.24623 10.9231C3.20131 10.9319 3.17463 10.9615 3.16593 10.9928C3.08873 11.2708 3.01206 11.6168 3.01206 11.8544C3.01206 12.0919 3.08873 12.438 3.16593 12.716C3.17463 12.7473 3.20131 12.7768 3.24623 12.7857C3.64899 12.8645 4.28728 12.9718 4.73858 12.9718C5.18989 12.9718 5.82818 12.8645 6.23094 12.7857C6.27586 12.7768 6.30254 12.7473 6.31123 12.716C6.38844 12.438 6.46512 12.0919 6.46512 11.8544C6.46512 11.6168 6.38844 11.2708 6.31123 10.9928C6.30254 10.9615 6.27586 10.9319 6.23094 10.9231C5.82818 10.8443 5.18989 10.7369 4.73858 10.7369ZM3.06825 9.98255C3.47078 9.90375 4.18812 9.77905 4.73858 9.77905C5.28905 9.77905 6.00639 9.90375 6.40892 9.98255C6.78993 10.0571 7.10837 10.3392 7.21753 10.7325C7.29621 11.0158 7.40686 11.4731 7.40686 11.8544C7.40686 12.2356 7.29621 12.693 7.21753 12.9763C7.10837 13.3695 6.78993 13.6517 6.40892 13.7262C6.00639 13.805 5.28905 13.9297 4.73858 13.9297C4.18812 13.9297 3.47078 13.805 3.06825 13.7262C2.68723 13.6517 2.36883 13.3695 2.25964 12.9763C2.18096 12.693 2.07031 12.2356 2.07031 11.8544C2.07031 11.4731 2.18096 11.0158 2.25964 10.7325C2.36883 10.3392 2.68723 10.0571 3.06825 9.98255Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2613 5.26312C10.81 5.26312 10.1717 5.15574 9.76895 5.0769C9.72401 5.06812 9.69733 5.03857 9.68861 5.00726C9.61147 4.72922 9.53474 4.38315 9.53474 4.14563C9.53474 3.90812 9.61147 3.56205 9.68861 3.28401C9.69733 3.2527 9.72401 3.22315 9.76895 3.21437C10.1717 3.13553 10.81 3.02815 11.2613 3.02815C11.7126 3.02815 12.3509 3.13553 12.7536 3.21437C12.7986 3.22315 12.8253 3.2527 12.834 3.28401C12.9111 3.56205 12.9878 3.90812 12.9878 4.14563C12.9878 4.38315 12.9111 4.72922 12.834 5.00726C12.8253 5.03857 12.7986 5.06812 12.7536 5.0769C12.3509 5.15574 11.7126 5.26312 11.2613 5.26312ZM9.59095 6.01749C9.9935 6.09628 10.7109 6.22096 11.2613 6.22096C11.8117 6.22096 12.5291 6.09628 12.9316 6.01749C13.3127 5.94291 13.6311 5.66082 13.7402 5.26758C13.8189 4.98423 13.9296 4.5269 13.9296 4.14563C13.9296 3.76437 13.8189 3.30704 13.7402 3.02369C13.6311 2.63045 13.3127 2.34836 12.9316 2.27378C12.5291 2.19499 11.8117 2.07031 11.2613 2.07031C10.7109 2.07031 9.9935 2.19499 9.59095 2.27378C9.20992 2.34836 8.89151 2.63045 8.78235 3.02369C8.70366 3.30704 8.59302 3.76437 8.59302 4.14563C8.59302 4.5269 8.70366 4.98423 8.78235 5.26758C8.89151 5.66082 9.20992 5.94291 9.59095 6.01749Z" fill="white"/>
    </svg>
    <div>Category</div>
  </a>
  <div style="width:1.5px;height:20px;background:#D1D1D1"></div>

  <a href="/pages/swym-wishlist" class="nav-item">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00016 13.9605L5.46071 11.3542L2.94124 8.74782C1.57818 7.30738 1.57818 5.05288 2.94124 3.61244C3.60867 2.97098 4.51268 2.63577 5.43696 2.68701C6.36129 2.73825 7.22269 3.17133 7.81511 3.88263L8.00016 4.0642L8.18347 3.87481C8.7759 3.16351 9.63729 2.73043 10.5616 2.67919C11.4859 2.62795 12.3899 2.96316 13.0573 3.60462C14.4204 5.04506 14.4204 7.29956 13.0573 8.74L10.5379 11.3463L8.00016 13.9605Z" stroke="white" stroke-width="1.06667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div>Wishlist</div>

  </a>
  <div style="width:1.5px;height:20px;background:#D1D1D1"></div>

  <a href="/account" class="nav-item">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.00022 7.58427C8.74832 7.58427 9.46008 7.2054 10.0044 6.5176C10.4929 5.90028 10.7732 5.12465 10.7732 4.38976C10.7732 3.64359 10.4775 2.95662 9.94027 2.45467C9.42483 1.97365 8.73593 1.7085 8.00022 1.7085C7.26451 1.7085 6.57561 1.97365 6.06044 2.45467C5.52326 2.95662 5.22754 3.64359 5.22754 4.38976C5.22754 5.12492 5.50756 5.90056 5.99629 6.5176C6.54036 7.20567 7.25212 7.58427 8.00022 7.58427ZM6.66206 3.09869C7.0134 2.77049 7.48864 2.58959 8.00022 2.58959C8.5118 2.58959 8.98704 2.77049 9.33838 3.09869C9.69522 3.43213 9.89181 3.89057 9.89181 4.39004C9.89181 5.43799 9.04789 6.70345 8.00022 6.70345C6.95255 6.70345 6.10863 5.43799 6.10863 4.39004C6.10863 3.89057 6.30522 3.43185 6.66206 3.09869Z" fill="white"/>
      <path d="M3.79659 9.53198C3.51079 10.0973 3.4191 10.7746 3.51602 11.6031C3.6223 12.5103 3.763 13.283 3.94583 13.965C3.99732 14.1574 4.17188 14.2915 4.37123 14.2915H11.6289C11.8283 14.2915 12.0028 14.1574 12.0546 13.965C12.2374 13.2818 12.3779 12.5092 12.4836 11.6034C12.5808 10.7751 12.4891 10.0978 12.2033 9.53226C11.9112 8.95377 11.3787 8.44026 10.7041 8.08589C10.5559 8.00825 10.4001 7.93721 10.2412 7.87526C10.1137 7.82542 9.97028 7.83781 9.85326 7.9083C9.27945 8.25468 8.63873 8.43778 7.99994 8.43778C7.36143 8.43778 6.72044 8.25468 6.14663 7.9083C6.02961 7.83754 5.88615 7.82542 5.75867 7.87526C5.5998 7.93748 5.44396 8.00825 5.29582 8.08617C4.62096 8.44026 4.08873 8.95377 3.79659 9.53198ZM5.70498 8.86621C5.765 8.83482 5.82668 8.80453 5.88946 8.7759C6.54917 9.13164 7.27415 9.31887 7.99967 9.31887C8.72519 9.31887 9.45016 9.13191 10.1099 8.7759C10.1727 8.80453 10.2343 8.83454 10.2944 8.86593C10.8079 9.13549 11.2063 9.51298 11.4166 9.9293C11.6248 10.3412 11.6857 10.8404 11.6083 11.5001V11.5004C11.524 12.2204 11.418 12.849 11.2853 13.4102H4.71458C4.58214 12.8498 4.47558 12.2212 4.39133 11.5004C4.31396 10.8401 4.37508 10.3409 4.58324 9.92902C4.79305 9.51353 5.19174 9.13577 5.70498 8.86621Z" fill="white"/>
    </svg>
    <div>Profile</div>
  </a>
</nav>

<style>
/* ✅ MOBILE BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #2146a3;
  padding: 8px 0px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  z-index: 9999;

  transition: transform 0.35s ease;
}

/* Hide State */
.bottom-nav.nav-hidden {
  transform: translateY(100%);
}

/* Links */
.bottom-nav .nav-item {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items: center;
}

/* Divider using CSS only */
{% comment %} .bottom-nav .nav-item:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -10px;
  color: rgba(255, 255, 255, 0.5);
} {% endcomment %}

/* Mobile Only */
@media (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}

/* Small Devices */
@media (max-width: 360px) {
  .bottom-nav .nav-item {
    font-size: 13px;
  }

  .bottom-nav .nav-item:not(:last-child)::after {
    right: -6px;
  }
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {

  const nav = document.getElementById("mobileBottomNav");

  /* ✅ Run only on PLP (Collection pages) */
  if (!window.location.pathname.includes("/collections")) return;

  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;

    /* Scroll Down → Hide */
    if (currentScroll > lastScrollY && currentScroll > 80) {
      nav.classList.add("nav-hidden");
    }

    /* Scroll Up → Show */
    else {
      nav.classList.remove("nav-hidden");
    }

    lastScrollY = currentScroll;
  });
});
</script>
{% endunless %}
